p {
  margin: 0px;
}

.info-panel {
  background-color: rgb(244, 244, 244);
  border-radius: 10px;
  box-sizing: border-box;
  margin: 10px auto; /* space between info panels */
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5), 0px 0px 15px rgba(0, 0, 0, 0.2);
  /* visibility: hidden; */
}

.info-panel-header {
  background-color: rgb(152, 112, 152);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px 15px; /* vertical and horizontal padding */
  box-sizing: border-box;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  color: white;
  text-align: left;
  line-height: 30px;
}

.info-panel-contents {
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box; /* ensures that the width includes padding and borders */
  display: flex;
  flex-direction: column;
  align-items: center;
}
